@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

p{
  text-align: center;
  margin: 20px 0;
  font-size:1.5rem;
}


/*========= 1文字ずつ出現させるためのCSS ===============*/

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

